.aside__contactProjects {
    text-align: center;
    background-color: #E76F51;
    border: 5px solid #264653;
    border-radius: 20px;
    padding: 25px;
    margin-top: 35px;
    margin-bottom: 5px;

}