.table {
    border-collapse: collapse;
    max-width: 100%;
    padding-top: 10px;
}

.table__gameTitle {
    border: 1px solid;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

.table__eventTitle {
    border: 1px solid;
    padding: 5px;
    text-align: center;

}
